@font-face {
	font-family: 'agtech-icons';
	src:url('../fonts/agtech-icons.eot?-l3hb68');
	src:url('../fonts/agtech-icons.eot?#iefix-l3hb68') format('embedded-opentype'),
		url('../fonts/agtech-icons.woff?-l3hb68') format('woff'),
		url('../fonts/agtech-icons.ttf?-l3hb68') format('truetype'),
		url('../fonts/agtech-icons.svg?-l3hb68#agtech-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ag-"], [class*=" ag-"] {
	font-family: 'agtech-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ag-reset-password:before{
	content: "\e611";
}
.ag-sign-in:before{
	content: "\e919";
}
.ag-crop-create-profile:before{
	content: "\e92b";
}
.ag-apply:before{
	content: "\e926";
}
.ag-cancel:before{
	content: "\e928";
}
.ag-calendar-add-event:before{
	content: "\e927";
}
.ag-selection-current2:before{
	content: "\e92a";
}
.ag-selection-forecast2:before{
	content: "\e92b";
}
.ag-selection-historical2:before{
	content: "\e92c";
}
.ag-current-weather:before{
	content: "\e912";
}
.ag-historical-weather:before{
	content: "\e915";
}
.ag-forecast-weather:before{
	content: "\e914";
}
.ag-sensor-widget:before{
	content: "\e916";
}
.ag-eto-widget:before{
	content: "\e913";
}
.ag-calendar-widget:before{
	content: "\e911";
}
.ag-alert-widget:before{
	content: "\e63a";
}
.ag-heatindex:before{
	content: "\e906";
}
.ag-gust:before{
	content: "\e905";
}
.ag-uv:before{
	content: "\e90b";
}
.ag-snow2:before{
	content: "\e90a";
}
.ag-pressure:before{
	content: "\e909";
}
.ag-dewpoint:before{
	content: "\e904";
}
.ag-cloudcover:before{
	content: "\e903";
}
.ag-precipitation:before{
	content: "\e908";
}
.ag-liquidprecipitation:before{
	content: "\e907";
}
.ag-windchill:before{
	content: "\e90c";
}
.ag-label:before {
	content: "\e633";
}

.ag-label2:before {
	content: "\e636";
}

.ag-timeline:before {
	content: "\e634";
}

.ag-clearnight:before {
	content: "\e627";
}

.ag-cloudynight:before {
	content: "\e628";
}

.ag-cloudy:before {
	content: "\e629";
}

.ag-heavyrain:before {
	content: "\e62a";
}

.ag-mistnight:before {
	content: "\e62b";
}

.ag-partlycloudy:before {
	content: "\e62c";
}

.ag-rain:before {
	content: "\e62d";
}

.ag-snow:before {
	content: "\e62e";
}

.ag-sunny:before {
	content: "\e62f";
}

.ag-sunset:before {
	content: "\e630";
}

.ag-thunderstorm:before {
	content: "\e631";
}

.ag-tornado:before {
	content: "\e632";
}

.ag-humidity:before {
	content: "\e625";
}

.ag-raingauge:before {
	content: "\e626";
}

.ag-tractor:before {
	content: "\e624";
}

.ag-addpeople:before {
	content: "\e614";
}

.ag-alert:before {
	content: "\e619";
}

.ag-alert2:before {
	content: "\e61a";
}

.ag-crops:before {
	content: "\e61b";
}

.ag-image:before {
	content: "\e61c";
}

.ag-npsensor:before {
	content: "\e61d";
}

.ag-pointer:before {
	content: "\e61e";
}

.ag-temperature3:before {
	content: "\e61f";
}

.ag-view:before {
	content: "\e620";
}

.ag-watervalve:before {
	content: "\e621";
}

.ag-winddirection:before {
	content: "\e622";
}

.ag-windspeed:before {
	content: "\e623";
}

.ag-chart:before {
	content: "\e615";
}

.ag-reports2:before {
	content: "\e616";
}

.ag-settings3:before {
	content: "\e617";
}

.ag-temperature2:before {
	content: "\e618";
}

.ag-block:before {
	content: "\e600";
}

.ag-block-check:before {
	content: "\e601";
}

.ag-circle:before {
	content: "\e602";
}

.ag-delete:before {
	content: "\e603";
}

.ag-drag:before {
	content: "\e604";
}

.ag-lot:before {
	content: "\e606";
}

.ag-lot-check:before {
	content: "\e60c";
}

.ag-pencil:before {
	content: "\e60d";
}

.ag-polygon:before {
	content: "\e60e";
}

.ag-property:before {
	content: "\e60f";
}

.ag-property-check:before {
	content: "\e610";
}

.ag-reset:before {
	content: "\e611";
}

.ag-save:before {
	content: "\e612";
}

.ag-square:before {
	content: "\e613";
}

.ag-arrowdown:before {
	content: "\36";
}

.ag-arrowleft:before {
	content: "\35";
}

.ag-arrowright:before {
	content: "\42";
}

.ag-arrowup:before {
	content: "\33";
}

.ag-folder:before {
	content: "\e605";
}

.ag-logout:before {
	content: "\34";
}

.ag-message:before {
	content: "\e607";
}

.ag-message2:before {
	content: "\e929";
}

.ag-profile:before {
	content: "\e608";
}

.ag-save2:before {
	content: "\e609";
}

.ag-save3:before {
	content: "\e91a";
}

.ag-settings:before {
	content: "\e60a";
}

.ag-settings-2:before {
	content: "\e60b";
}

.ag-separator:before {
	content: "\51";
}

.ag-search:before {
	content: "\77";
}
.ag-search {
	content: "\77";
}

.ag-login:before {
	content: "\45";
}

.ag-calendar:before {
	content: "\43";
}

.ag-close:before {
	content: "\58";
}

.ag-controls-3:before {
	content: "\59";
}

.ag-controls-1:before {
	content: "\31";
}

.ag-controls-2:before {
	content: "\32";
}

.ag-history:before {
	content: "\48";
}

.ag-maps:before {
	content: "\4d";
}

.ag-maximize:before {
	content: "\4c";
}

.ag-other:before {
	content: "\4f";
}

.ag-problemareas:before {
	content: "\53";
}

.ag-areas:before {
	content: "\52";
}

.ag-satelliteimaging-1:before {
	content: "\39";
}

.ag-satelliteimaging-2:before {
	content: "\3a";
}

.ag-soilmoisture-1:before {
	content: "\3b";
}

.ag-soilmoisture-2:before {
	content: "\50";
}

.ag-sprayareas-1:before {
	content: "\4b";
}

.ag-sprayareas-2:before {
	content: "\5a";
}

.ag-sprayareas-3:before {
	content: "\56";
}

.ag-sprayareas-4:before {
	content: "\37";
}

.ag-systemhealth:before {
	content: "\38";
}

.ag-temperature:before {
	content: "\54";
}

.ag-uploadedmap:before {
	content: "\55";
}

.ag-utility:before {
	content: "\5b";
}

.ag-weather:before {
	content: "\57";
}

.ag-weather2:before {
	content: "\5d";
}
.ag-humidity:before {
	content: "\e625";
}
.ag-raingauge:before {
	content: "\e626";
}
.ag-label:before {
	content: "\e633";
}
.ag-timeline:before {
	content: "\e634";
}
.ag-clearnight:before {
	content: "\e627";
}
.ag-cloudynight:before {
	content: "\e628";
}
.ag-cloudy:before {
	content: "\e629";
}
.ag-heavyrain:before {
	content: "\e62a";
}
.ag-mistnight:before {
	content: "\e62b";
}
.ag-partlycloudy:before {
	content: "\e62c";
}
.ag-rain:before {
	content: "\e62d";
}
.ag-snow:before {
	content: "\e62e";
}
.ag-sunny:before {
	content: "\e62f";
}
.ag-sunset:before {
	content: "\e630";
}
.ag-thunderstorm:before {
	content: "\e631";
}
.ag-tornado:before {
	content: "\e632";
}
.ag-tractor:before {
	content: "\e624";
}
.ag-problemareas2:before {
	content: "\e635";
}
.ag-utilitylocation:before {
	content: "\e638";
}
.ag-irrigation:before {
	content: "\e637";
}
.ag-valvelocation:before {
	content: "\e639";
}
.ag-alert3:before {
	content: "\e63a";
}
.ag-lock2:before {
	content: "\e63b";
}
.ag-edit:before {
	content: "\e63c";
}
.ag-email:before {
	content: "\e63d";
}
.ag-mobile:before {
	content: "\e63e";
}
.ag-fertilization:before {
	content: "\e644";
}
.ag-spacing:before {
	content: "\e645";
}
.ag-cropprofile:before {
	content: "\e63f";
}
.ag-PBL:before {
	content: "\e640";
}
.ag-pump:before {
	content: "\e804";
}
.ag-smcalibration:before {
	content: "\e642";
}
.ag-valve2:before {
	content: "\e641";
}
.ag-valve:before {
	content: "\e641";
}

.ag-zoomin:before {
	content: "\e646";
}
.ag-zoomout:before {
	content: "\e647";
}
.ag-cropassignment:before {
	content: "\e648";
}
.ag-assignproperties:before {
	content: "\e649";
}
.ag-check:after {
	content: "\e802";
}
.ag-check-modal:before {
	content: "\e802";
}
.ag-check:before {
	content: "\e802";
}
.ag-arrowu:before {
	content: "\e803";
}
.ag-arrowd:before {
	content: "\e800";
}
.ag-pump:before {
	content: "\e804";
}
.ag-waterpressure:before {
	content: "\e805";
}
.ag-valveswitch:before {
	content: "\e808";
}
.ag-runtime:before {
	content: "\e807";
}
.ag-pressurereading:before {
	content: "\e806";
}
.ag-upload:before {
	content: "\e80b";
}
.ag-sorting:before {
	content: "\e80a";
}
.ag-addbtn:before {
	content: "\e809";
}
.ag-user:before {
	content: "\e901";
}
.ag-account:before {
	content: "\e900";
}
.ag-account2:before {
	content: "\e90d";
}
.ag-assignproperties2:before {
	content: "\e649";
}
.ag-user2:before {
	content: "\e901";
}
.ag-profiletypes2:before {
	content: "\e900";
}
.ag-login-people:before {
	content: "\e910";
}
.ag-login-mail:before {
	content: "\e90f";
}
.ag-login-key:before {
	content: "\e90e";
}
.ag-selection-sensor:before {
	content: "\e916";
}
.ag-selection-historical:before {
	content: "\e915";
}
.ag-selection-forecast:before {
	content: "\e914";
}
.ag-selection-eto:before {
	content: "\e913";
}
.ag-selection-current:before {
	content: "\e912";
}
.ag-selection-calendar:before {
	content: "\e911";
}
.ag-phone:before {
	content: "\e917";
}
.ag-web:before {
	content: "\e918";
}
.ag-equal:before {
	content: "\e92d";
}
table.dataTable thead .sorting_asc:after{
	content: "\e80a";
	font-family: 'agtech-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #95ba39;
	opacity: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
table.dataTable thead .sorting:after{
	content: "\e80a";
	font-family: 'agtech-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ffffff;
	opacity: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table.dataTable thead .sorting_desc:after{
	content: "\e80a";
	font-family: 'agtech-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #95ba39;
	opacity: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.md {font-size: 15px; vertical-align: center; position: relative; top: 18px; color: #c9d7d7 !important;}
.save {font-size: 15px; color: #c9d7d7 !important; right: 10px; position: relative; top: 16px;}
.folder {font-size: 15px; color: #c9d7d7 !important; right: 23px; position: relative; top: 16px; margin-left: 40px;}
