body{
  background-color: #f6f6f6;
  color: #ffffff;
  font-family: "Open Sans";
}


/* Nav Menu Off canvas*/
body {
    position: relative;
    overflow-x: hidden;
}

body, html {
    height: 100%;
}

/* Navigation */

.side-nav-left{
  list-style: none;
  padding: 25px 0px 25px 0px;
}

.side-nav-left li{
  padding-bottom: 33px;
}

.side-nav-left li a{
  color: #ffffff;
  text-decoration: none;
}

.side-nav-left li a{
  padding: 18px 177px 19px 16px;
}

.ag-manufacturer-hover, .ag-customer-hover{
  font-size: 1.14em;
}

#account-nav.toggled{
  background-color: #a9ce4a;
  color: #ffffff;
  z-index: 1;
}
#account-nav{
  color: #f6f6f6;
}

#manufacturer-nav.toggled{
  background-color: #a9ce4a;
  color: #ffffff;
  z-index: 1;
}
#manufacturer-nav{
  color: #f6f6f6;
}

#customer-nav.toggled{
  background-color: #a9ce4a;
  color: #ffffff;
  z-index: 1;
}
#customer-nav{
  color: #f6f6f6;
}

.side-nav-left li a:hover {
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    background-color: #a9ce4a;
}

.icon-nav-wrapper{
  position: fixed;
  top: 144px;
  left: 0px;
}

.nav .open > a {
    background-color: transparent;
}

    .nav .open > a:hover {
        background-color: transparent;
    }

    .nav .open > a:focus {
        background-color: transparent;
    }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 220px;
        }

        #wrapper.toggled #page-content-wrapper {
            margin-right: -220px;
            position: absolute;
        }

#sidebar-wrapper {
    background: #95ba37;
    height: 100%;
    left: 220px;
    padding-left: 60px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }


#page-content-wrapper {
    padding-top: 20px;
    width: 100%;
}


.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 153px;
        left: 60px;
    width: 220px;
}

    .sidebar-nav li {
        display: inline-block;
        line-height: 32px;
        position: relative;
        width: 100%;
    }

        .sidebar-nav li:before {
            background-color: #a9ce4a;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 0px;
            z-index: -1;
        }

        .sidebar-nav li:before {
            background-color: #a9ce4a;
        }

        .sidebar-nav li:hover:before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

        .sidebar-nav li a {
            color: #ffffff;
            display: block;
            padding: 10px 15px 10px 30px;
            text-decoration: none;
        }

        .sidebar-nav li.open:hover before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

    .sidebar-nav .dropdown-menu {
        background-color: #222222;
        -ms-border-radius: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
        background-color: transparent;
        color: #ffffff;
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
        font-size: 20px;
        height: 90px;
        line-height: 44px;
        margin-bottom: 11px;
    }
.hamburger-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 300px;
  background-color: #353f41;
}
.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    width: 24px;
    z-index: 999;
    position: fixed;
    top: 40px;
    left: 0px;
}

    .hamburger:hover {
        outline: none;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger:active {
        outline: none;
    }

    .hamburger.is-closed:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-closed:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }

    .hamburger.is-closed:hover .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 0;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 0;
    }

    .hamburger.is-closed .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 5px;
    }

    .hamburger.is-closed .hamb-middle {
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-closed .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 5px;
    }

    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open:before {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        -ms-opacity: 0;
        opacity: 0;
        text-align: center;
        width: 100px;
    }

    .hamburger.is-open:hover before {
        -webkit-transform: translate3d(-100px, 0, 0);
        -moz-transform: translate3d(-100px, 0, 0);
        -ms-transform: translate3d(-100px, 0, 0);
        -o-transform: translate3d(-100px, 0, 0);
        transform: translate3d(-100px, 0, 0);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        display: block;
        -ms-opacity: 1;
        opacity: 1;
    }


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: #ffffff;
}

/* Import Font face */
/* Open Sans */
@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "fontforLight";
	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: "fontforBold";
	src: url('../fonts/OpenSans-Bold.ttf'),
		url('../fonts/OpenSans-Bold.eot'),
		url('../fonts/OpenSans-Bold.woff');
}

@font-face {
	font-family: "fontforBoldItalic";
	src: url('../fonts/OpenSans-BoldItalic.ttf');
}

/* Header */
#header{
  background-color: #3b464a;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-logo{
  padding: 0px 15px;
}


#main-nav{
  padding-left: 3%;
}

/* Content */
.main-title{
  color: #495555;
  font-family: "fontforBold";
}

.content-area{
  margin-top: 20px;
}

.content-box{
  background-color: #ffffff;
  border: solid 1px #d1d5d8;
  border-radius: 15px;
  padding: 50px 50px 50px 70px;
}

/* Footer */

.main-footer{
  color: #495555;
  font-size: 0.9em;
}

.main-footer p a{
  color: #495555;
}

/* Custom bootstrap css */
#header .navbar-default{
  background-color: transparent !important;
  border: 0px !important;
}

#header .navbar-default .navbar-nav>.active>a,#header  .navbar-default .navbar-nav>.active>a:hover,#header  .navbar-default .navbar-nav>.active>a:focus{
  background-color: #95ba37 !important;
  color: #ffffff;
  border-radius: 25px;
}

#header .navbar-default .navbar-nav>li>a{
  color: #ffffff;
}

#main-nav li{
  padding-right: 25px;
}

.seperator-ag{
  padding: 13px 10px 10px 10px;
}

.form-label{
  color: #495555;
}

.agborder-radius{
  border-radius: 25px;
}

select.agborder-radius{
  border-radius: 25px;
  -webkit-appearance: none;
}

select.agborder-radius option{
  font-family: "fontforLight";
}

.form-row{
  margin-bottom: 20px;
}

.btn-cancel-ag {
    color: #495555;
    background-color: #e7e8ea;
    border:none;
    padding: 10px 45px;
    border-radius: 25px;
    font-family: "fontforLight";
    margin-bottom: 20px;
}

.btn-cancel-ag:hover{
  color: #fff;
  background-color: #95ba37;
}

.btn-create-ag:hover{
  color: #fff;
  background-color: #95ba37;
}

.btn-create-ag {
    color: #495555;
    background-color: #e1edc9;
    border:none;
    padding: 10px 45px;
    border-radius: 25px;
    font-family: "fontforLight";
    margin-bottom: 20px;
}

.pb25{
  padding-bottom: 25px;
}

.pt15{
  padding-top: 15px;
}

.pt25{
  padding-top: 25px;
}

.pr10{
  padding-right: 10px;
}

.pl15{
  padding-left: 15px;
}

.mr15{
  margin-right: 15px;
}

.agtech-bold{
  font-family: "fontforBold";
}

#accountView .modal-dialog{
   width: 55%;
}
/* Data Table */
#account-datatable{
  color: #4b5356;
  border-radius: 15px;
  margin-bottom: 15px !important;
}

#account-datatable .pull-right{
  color: #b9babc;
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td{
  border-radius: 15px 15px 0px 0px;
  background-color:#3b464a;
  color: #ffffff;
  padding: 10px 35px;
}

.dataTables_filter{
	display: none;
}

.dataTables_length{
  display: none;
}

div.dataTables_wrapper div.dataTables_info{
  color: #4b5356;
  white-space: normal;
  display: none;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
  border: none;
}

#account-datatable_paginate a{
  cursor: pointer;
}

table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0;
    padding: 10px 35px;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
  bottom: 11px;
    left: 87px;
}

/* Modal */
#accountView .content-box{
  padding: 10px 50px 0px 70px;
}

#accountView button.close{
  position: relative;
  top: -0px;
  right: -28px;
  font-size: 32px !important;
}
