body{
  background-color: #3b464a;
  color: #ffffff;
  font-family: "Open Sans";
}

/* Import Font face */
/* Open Sans */
@font-face {
	font-family: "Open Sans";
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "fontforLight";
	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: "fontforBold";
	src: url('../fonts/OpenSans-Bold.ttf'),
		url('../fonts/OpenSans-Bold.eot'),
		url('../fonts/OpenSans-Bold.woff');
}

@font-face {
	font-family: "fontforBoldItalic";
	src: url('../fonts/OpenSans-BoldItalic.ttf');
}

/* Header */
#header{
  background-color: #343f43;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Middle Content*/
#middle-content{
  margin-top: 50px;
  color: #ffffff;
  font-family: "fontforLight";
}

#middle-content p{
  font-size: 1.6em;
  text-align: center;
  line-height: 35px;
}

/* Login Container*/
#login-header{
  background-color: #303b3f;
  border-radius: 15px 15px 0px 0px;
  border: 1px solid #343f43;
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 17px;
}

#login-header h3{
  font-size: 1.3em;
  text-align: center;
}

#login-body{
  background-color: #343f43;
  border: 1px solid #343f43;
  padding-top: 44px;
  padding-bottom: 35px;
  border-radius: 0px 0px 15px 15px;
}

#login-body .input-group{
  margin-bottom: 20px;
}

#login-body .input-group-lg>.form-control, #login-body .input-group-lg>.input-group-addon{
  border-radius: 23px;
  font-size: 1em;
  height: 40px;
  color: #aaaaaa;
}

#login-body .input-group-lg>.form-control{
  font-family: "fontforLight";
}

#login-body .input-group .form-control:last-child{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#login-body .input-group-addon:first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#login-body .input-group-addon{
  background-color: #ffffff;
}

#login-body .form-control{
  border-left: 0px;
}

#login-body input{
  padding-left: 0px;
}

#forget-password{
  text-align: center;
  font-size: 0.9em;
  font-family: "fontforLight";
  padding-bottom: 20px;
}

#forget-password a{
  color: #9acc1f;
}

#login-content{
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Global CSS */
.content-highlights{
  color: #9ccc20;
}

.btn-primary-ag {
    color: #fff;
    background-color: #9acc1f;
    border:none;
    padding: 10px 45px;
    border-radius: 25px;
    font-family: "fontforLight";
}

.mastfoot{
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.9em;
}

.mastfoot a{
  color: #ffffff !important;
}

/* Media Query */

@media (min-width: 768px) and (max-width: 1280px) {
    #header {
      background-color: #343f43;
      padding-top: 20px;
      padding-bottom: 20px;
  }
    #middle-content p {
      font-size: 1.2em;
      text-align: center;
      line-height: 27px;
  }
    #login-header {
      background-color: #303b3f;
      border-radius: 15px 15px 0px 0px;
      border: 1px solid #343f43;
      margin-top: 25px;
      padding-top: 8px;
      padding-bottom: 17px;
  }
    #middle-content {
      margin-top: 25px;
      color: #ffffff;
      font-family: "fontforLight";
  }
}
